html {
    margin: 0 !important;
    padding: 0 !important;
    // font-size: 10px;  // This value is controlled by viewport.less, but it's useful to imagine the starting font size at 10px (makes the math easy)
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    .Font(@family: 'Open Sans', @size: 1.8, @color: white, @withShadow: false);
    background-color: black;
    overflow-x: hidden;
}

a {
    .Font(@family: 'Open Sans', @size: 1.8, @color: deepskyblue, @withShadow: false);

    &:hover, &:focus, &:visited {
        color: lighten(deepskyblue, 10%);
    }
}

#react-root {
    position: relative;
    height: 100%;
    width: 100%;
}

@media all and (min-aspect-ratio: 16/9) { #bg { width: 100%; } }
@media all and (max-aspect-ratio: 16/9) { #bg { height: 100%; } }

#bg {
    position: fixed;
    &:extend(.centered-vh);
    z-index: -1;
    opacity: 0.6;
}

.not-found {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.app-root {
    display: inline-block;
    position: relative;
    &:extend(.centered-h);
    width: 60%;
    min-width: 400px;
}
