html {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    .Font(@family: 'Open Sans', @size: 1.8, @color: white, @withShadow: false);
    background-color: black;
}

a {
    .Font(@family: 'Open Sans', @size: 1.8, @color: deepskyblue, @withShadow: false);

    &:hover, &:focus, &:visited {
        color: lighten(deepskyblue, 10%);
    }
}

#react-root {
    height: 100%;
    width: 100%;
}

@media all and (min-aspect-ratio: 16/9) { #bg { width: 100%; } }
@media all and (max-aspect-ratio: 16/9) { #bg { height: 100%; } }

#bg {
    position: fixed;
    &:extend(.centered-vh);
    z-index: -1;
    opacity: 0.5;
}

.not-found {
    width: 100%;
    padding: 20px;
    text-align: center;
}
